form.ui-table-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

form.ui-table-form .form-row {
    font-size: 16px;
    padding: 5px;
    flex-direction: row;
    border: none;
}

form.ui-table-form .form-row select {
    width: 200px;
}

form.ui-table-form .form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #5995DA;

    border: none;
    border-radius: 3px;

    padding: 5px 20px;
    cursor: pointer;
}

form.ui-table-form .form-row button:hover {
    background-color: #76AEED;
}

form.ui-table-form .form-row button:active {
    background-color: #407FC7;
}

table.ui-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table.ui-table th {
    width: 8%;
}

table.ui-table th:nth-child(6) {
    width: 52%;
}

table.ui-table th,
table.ui-table td {
    border: 2px solid #C0C0C0;
    padding: 5px;
}
