<!DOCTYPE html>
<html lang="ru">
<head>
    <title>3. Работа приложения с базой данных</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
